form{
    height: 500px;
    width: 500px;
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: burlywood;
}
#demo{
    padding-right: 100px;
    padding-left: 100px;
    color: #0820ff;
    background-color: red;
    font-size: 32px;
}